<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288316687003-gmvq432of2nsaonfrurk6sq456u2iafj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288316687003-gmvq432of2nsaonfrurk6sq456u2iafj</string>
	<key>API_KEY</key>
	<string>AIzaSyCbqAk3q1CpPOpQLTr5Sjwy5-IxVMsFB0A</string>
	<key>GCM_SENDER_ID</key>
	<string>288316687003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sccPocApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sec-poc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sec-poc-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288316687003:ios:1db18e331c0d039fe93c3e</string>
</dict>
</plist>