.page-container {
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.page-header span {
    text-align: center;
    font-weight: 600;
}