
service: scc-sls-api

custom:
  guardTableName: 'java-guard-${self:provider.stage}'
  cameraTableName: 'java-camera-${self:provider.stage}'
  premiseTableName: 'java-premise-${self:provider.stage}'
  incidentTableName: 'java-incident-${self:provider.stage}'
  noteTableName: 'java-note-${self:provider.stage}'
  dynamodb:
    # start:
    #   port: 8002
    #   inMemory: true
    #   migrate: true
    stages:
      - dev

provider:
  name: aws
  runtime: java8
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - { "Fn::GetAtt": ["GuardDynamoDBTable", "Arn" ] }
        - { "Fn::GetAtt": ["CameraDynamoDBTable", "Arn" ] }
        - { "Fn::GetAtt": ["PremiseDynamoDBTable", "Arn" ] }
        - { "Fn::GetAtt": ["IncidentDynamoDBTable", "Arn" ] }
        - { "Fn::GetAtt": ["NoteDynamoDBTable", "Arn" ] }
  environment:
    GUARD_TABLE_NAME: ${self:custom.guardTableName}
    CAMERA_TABLE_NAME: ${self:custom.cameraTableName}
    PREMISE_TABLE_NAME: ${self:custom.premiseTableName}
    INCIDENT_TABLE_NAME: ${self:custom.incidentTableName}
    NOTE_TABLE_NAME: ${self:custom.noteTableName}

package:
  artifact: 'target/${self:service}-${self:provider.stage}.jar'

functions:
  getPremises:
    handler: com.serverless.GetPremisesHandler
    events:
      - http:
          path: /premises
          method: get
  getIncidents:
    handler: com.serverless.GetIncidentsHandler
    events:
      - http:
          path: /incidents
          method: get
  getIncidentById:
    handler: com.serverless.GetIncidentByIdHandler
    events:
      - http:
          path: /incidents/{incidentId}
          method: get
  getPremisesWithRelations:
    handler: com.serverless.GetPremisesWithRelationsHandler
    events:
      - http:
          path: /premises/relations
          method: get
  getCameras:
    handler: com.serverless.GetCamerasHandler
    events:
      - http:
          path: /cameras
          method: get
  getGuards:
    handler: com.serverless.GetGuardsHandler
    events:
      - http:
          path: /guards
          method: get
  createIncident:
    handler: com.serverless.CreateIncidentHandler
    events:
      - http:
          path: /incidents
          method: post
  getNotes:
    handler: com.serverless.GetNotesHandler
    events:
      - http:
          path: /notes
          method: get
  getNoteById:
    handler: com.serverless.GetNoteByIdHandler
    events:
      - http:
          path: /notes/{noteId}
          method: get
  createNote:
    handler: com.serverless.CreateNoteHandler
    events:
      - http:
          path: /notes
          method: post

plugins:
  - serverless-offline
  - serverless-dynamodb


resources:
  Resources:
    GuardDynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.guardTableName}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    CameraDynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.cameraTableName}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    PremiseDynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.premiseTableName}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    IncidentDynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.incidentTableName}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    NoteDynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.noteTableName}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1