.dashboard-page-container {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dashboard-page-container .header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 50px;
}

.dashboard-page-container .header img {
    max-width: 100px;
    max-height: 100px;
}

.dashboard-page-container button {
    width: 100%;
}

.cctv-property-input {
    min-width: 150px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.cctvs-container .col {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.camera-info-container {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
}

.camera-info-container svg {
    margin: auto 0;
}

.camera-incident-container {
    display: flex;
    gap: 8px;
    height: fit-content;
}

.camera-incident-container button {
    padding: 1px 8px 3px;
}

.incident-popover-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}